* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header {
    background-color: #2d5a62;
    height: 6rem;
    /* border: 5px solid greenyellow; */
    display: flex;
    justify-content: left; 
    font-size: 30px;
}

body {
    background-color: rgb(88, 102, 103);

}
.main {
    /* border: 5px solid hotpink;  */
    display: flex;
    justify-content: space-evenly;
}

.LeggInn {
    background-color: rgb(128, 173, 175);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 500px; 
    font-size: 35px;
    margin: 10px;
    padding: 10px;
    /* border: 5px solid red;  */
}
.LanUt {
    background-color: rgb(128, 173, 175);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 500px; 
    font-size: 35px;
    margin: 10px;
    padding: 10px;
    /* border: 5px solid green;  */
}


label {
    margin-bottom: 2px; 
    margin-top: 5px;
}

