* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.header {
    background-color: aqua;
    height: 6rem;
    border: 5px solid greenyellow;
    display: flex;
    justify-content: left; 
}

body {
    background-color: cadetblue;

}
.main {
    border: 5px solid hotpink;
    display: flex;
    justify-content: center; 
}

.LeggInn {
    display: flex;
    flex-direction: column;
    width: 300px; 
    border: 5px solid red;
}

label {
    margin-bottom: 2px; 
    margin-top: 5px;
}

